body {
  background-image: linear-gradient(to bottom right, #03fcec, #0313fc);
}
.DivTitleScreen {
  font-family: "press Start 2P";
}
input[type = button] {
  border: 0;
  font-size: 20px;
  height: 50px;
  width: 46%;
}
#EWGProductions {
  position: absolute;
  bottom: 0;
}
